.highlight {
  background-color: yellow;
}

.detoxify-popup > * {
  padding: 0;
  margin: 0;
}

.detoxify-popup {
  border: 2px solid black;
  opacity: 0.95;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background-color: white;
  padding: 0 2rem 1rem 2rem;
  font-size: 1.2rem;
  max-width: 40%;
  max-height: 33%;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  white-space: pre-line;
  color: black;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.detoxify-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detoxify-title {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.detoxify-close {
  color: darkred;
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.detoxify-close:hover {
  text-decoration: underline;
}